# Diretórios de build
/.vitepress/dist/

# Cache do Vite
/.vitepress/cache/

# Logs e arquivos temporários
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependências locais
node_modules/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
